.most-read-card {
  .bg-mostRead-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #0a0a0a;
    background-image: url(src/assets/Rectangle-326.jpg);
    opacity: 1;
    z-index: -1;
    border-radius: 3px 3px 0 0;
    &.img-ideas-1 {
      background-image: url(src/assets/img-ideas-1.png);
    }
    // &.img-mostRead-2 {
    //   background-image: url(src/assets/img-ideas-1.png);
    // }
    // &.img-mostRead-3 {
    //   background-image: url(src/assets/img-ideas-1.png);
    // }
  }
}

.ideas-blog-card {
  .ideasBlog-image {
    background-size: cover;
    background-position: center;
    background-color: #0a0a0a;
    background-image: url(src/assets/Rectangle-326.jpg);
    opacity: 1;

    &.img-ideas-1 {
      background-image: url(src/assets/img-ideas-1.png);
    }
    &.img-ideas-2 {
      background-image: url(src/assets/img-ideas-2.png);
    }
    &.img-ideas-3 {
      background-image: url(src/assets/img-ideas-3.png);
    }
    &.img-ideas-4 {
      background-image: url(src/assets/img-ideas-4.png);
    }
  }
}

#adBanner {
  .adBanner-image {
    background-size: cover;
    background-position: center;
    background-color: #0a0a0a;
    background-image: url(src/assets/img-ad-banner.jpg);
  }
  .content {
    
  }
}

#report-details {
  .report-header-bg {
    background-size: cover;
    background-position: center;
    background-color: #5542ff;
    background-image: url(src/assets/report-header-bg.png);
  }

  
}
.report-article-img-1 {
  background-size: cover;
  background-position: center;
  background-color: #5249a8;
  background-image: url(src/assets/img-ad-banner.jpg);
}
